*{
    margin: 0;
    padding: 0;
}
.seccion{
    width: 100vw;
    height: 450px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction:row;

}

.form{
    width: 40%;
    height: auto;
    margin: 0% 0% 0% auto;
    border-radius: 10px;
    border: 2px solid #5d5e69;
    padding: 15px;
    text-align: center;
    background-color: rgb(123, 162, 56);
    align-items: center;
    justify-content: center;
}
.form > p{
    font-size: 16px;
    color: white;
    font-family: 'Segoe UI';
    margin-left: 28px;
    
}
.form > img{
    width: 50%;
    height: 20%;
    image-rendering:unset;
}
.form >input,label,button{
    display: inline-block;
    width: 80%;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 12px;
}
.form > select{
    display: inline-block;
    width: 83%;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 8px;
}
.form > input{
    border: 0.5px ;
    padding: 10px 3px;
    border-bottom: 1px solid gray;
    outline: 2px;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
}
.precio{
    text-align: left;
    font-size: 17px !important;
}
.titulo{
    font-size: 18px !important;
}

.form .btnCalcular{
    width: 45%;
    margin-top: 25px;
    border: 2px solid #4d4d4e;
    font-size: 16px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    border-radius: 6px;
    background-color: #E4A205;
    color: white;
}
.opcion{
    display: inline-block;

}

.tarjeta2{
    width: 40%;
    height: 430px;
    margin: 10px;
}
.contenido{
    position: fixed;
    top: 25%;
    font-size: 20px;   
}
.contenido > p{
    margin: 5px;
    margin-left: 25px;
}

.red{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    background-color: red;
}
.blue{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
    background-color: blue;
}
.yellow{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
    background-color: yellow;
}
.black{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
    background-color: black;
}
.white{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
    background-color: white;
}
.green{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
    background-color: green;
}
